.app {
  height: 100%;
  padding: 0;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.update {
  margin-top: 3em;
  font-size: 12px;
}

